<h2>Book List</h2>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            <h1 class="mt-5 mb-5">Listado de libros</h1>

            @if (showDeletedBookMessage) {
              <!--<ngb-alert type="success" [dismissible]="false">Libro borrado correctamente</ngb-alert>-->
              <ngb-alert type="success" (closed)="hideDeletedBookMessage()">Libro borrado correctamente.</ngb-alert>
            }

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Available</th>
                        <th scope="col">Price (€)</th>
                        <th scope="col">Publish Date</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (book of books; track book.id) {
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td>{{book.title}}</td>
                        <td>
                            @if (book.available) {
                            <span class="badge text-bg-success">Sí</span>
                            } @else{
                            <span class="badge text-bg-danger">No</span>
                            }
                        </td>
                        <td>{{book.price}}</td>
                        <td>{{book.publishDate | date:'dd/MM/yy'}}</td>
                        <td>{{book.author.name}}</td>
                        <td>{{book.editorial.name}}</td> 
                        <td>
                            <a class="badge text-bg-secondary text-decoration-none" [routerLink]="['/authors', book.author.id, 'detail']">
                            {{book.author.name}}
                            </a>
                            </td>
                            <td>
                            <a class="badge text-bg-warning text-decoration-none" [routerLink]="['/editorials', book.editorial.id, 'detail']">
                            {{book.editorial.name}}
                            </a>
                            </td>
                            <td>
                            <button class="btn btn-info" [routerLink]="['/books', book.id, 'detail']">Ver</button>
                            <button class="btn btn-success ms-2" [routerLink]="['/books', book.id, 'update']">Edit</button>
                            <button class="btn btn-warning ms-2 btn-sm" [routerLink]="['/books', book.id, 'reserve']">Reservar</button>
                            <button class="btn btn-danger ms-2" (click)="delete(book)">Borrar</button>
                            </td>
                    </tr>
                    }     @empty {
                        <tr><td>No hay libros</td></tr>
                        }

                </tbody>
            </table>

        </div>
    </div>
</div>