{{title}}
<button [routerLink]="['/books']">Libros</button>
<button [routerLink]="['/authors']">Autores</button>
<button [routerLink]="['/editorials']">Editoriales</button>

@if (isAdmin) {
  <button [routerLink]="['/books/create']">Crear Libro</button>
  <button [routerLink]="['/authors/create']">Crear Autor</button>
  <button [routerLink]="['/editorials/create']">Crear Editorial</button>
}

@if (userEmail) {
  <button class="btn btn-outline-success me-2" routerLink="/account">
  {{userEmail}}<i class="bi bi-person-circle ms-1"></i>
  </button>
}

@if (isLoggedIn) {
  <button class="btn btn-warning" (click)="logout()">
    LogOut<i class="bi bi-box-arrow-right ms-1"></i>
  </button>
} @else {
  <button [routerLink]="['/login']">
    LogIn<i class="bi bi-box-arrow-in-right ms-1"></i>
  </button>
  <button [routerLink]="['/register']">
    Registro<i class="bi bi-person-add ms-1"></i>
  </button>
}

<hr>
<main class="main"> 
  <router-outlet></router-outlet>
</main>