{{title}}
<button [routerLink]="['/books']">Libros</button>
<button [routerLink]="['/books/create']">Crear Libro</button>
<button [routerLink]="['/authors']">Autores</button>
<button [routerLink]="['/authors/create']">Crear Autor</button>
<button [routerLink]="['/editorials']">Editoriales</button>
<button [routerLink]="['/editorials/create']">Crear Editorial</button>

@if (isLoggedIn) {
  <button class="btn btn-danger">LogOut</button>
} @else {
  <button [routerLink]="['/login']">Login</button>
  <button [routerLink]="['/register']">Registro</button>
}

<hr>
<main class="main"> 
  <router-outlet></router-outlet>
</main>