<p>author-list works!</p>
<hr>
@if (showDeletedAuthorMessage) {
    <!--<ngb-alert type="success" [dismissible]="false">Libro borrado correctamente</ngb-alert>-->
    <ngb-alert type="success" (closed)="hideDeletedAuthorMessage()">Autor borrado correctamente</ngb-alert>
    }
<ul>
    @for (author of authors; track author.id) {
        <li>{{author.id}} - {{author.name}}
            <button class="btn btn-primary" routerLink="/authors/{{author.id}}/detail">Ver</button>
            <button class="btn btn-secondary" routerLink="/authors/{{author.id}}/update">Edit</button>
            <button class="btn btn-danger" (click)="delete(author)">Borrar</button>
            <!-- <button class="btn btn-danger" (click)="borrarAutor(book.id)">Borrar</button> -->
        </li>
    }
    @empty {
        <li>No hay autores</li>
    }
</ul>